
*{ box-sizing: border-box;
    margin: 0;
    padding:0;
    text-decoration: none; 
    font-family: Work sans-serif;
    color: #003153;    }

body {background-color: #003153; }

header {
        justify-content: space-around;
        align-items: center;
        padding: 30px 10px;
        flex-direction: row; 
        height: 25vh;
        width: 100%; /*Full width*/   }

.logo {cursor: pointer;
        margin-right: auto;  }

.navlinks { list-style: none;
           display: flex;
           gap: 1px;   }

.navlinks li { display: inline-block;
                padding: 0px 20px;
                position: relative; }

.navlinks li a { transition: all 0.3x ease 0s;
                 text-decoration: none;
                color: black;
                font-family: work sans-serif;
                font-size:28px;
                display: block;
                padding: 24px 16px;   }

.navlinks li a:hover { transition: all 0.3x ease 0s;
                       background-color: rgb(112, 156, 187); }

nav{background-color:#91a3b0;
   display: flex;
   flex-direction: wrap; 
   justify-content: space-around;
   align-items: center;
   width: 100%; /*Full width*/ 
   position: fixed;  }

.logo { }

.dropdown {list-style: none; 
        font-weight: 600;
        width: 100%;
        position: absolute; 
        text-align: center;
        background-color: rgb(112, 156, 187); 
        display: none; }

.navlinks, .dropdown { list-style: none; 
                        font-weight: 600; }

.navlinks li:hover .dropdown {display: block; }

.dropdown li a:hover { background: rgb(157, 157, 157); }

@media only screen and (max width: 500px) {nav,.navlinks {flex-direction: column;
                                                            width: 200%; } .dropdown {position: relative;}}

span {font-size: 20px;
        color: black;  }

.box {width: 150px; 
      height: 150px;
      font-size: 8em; 
      text-align: center; }

#box1 {background-color:#003153; }

.container {display: flex; 
         flex-direction: column;
         justify-content: space-around;
         height: 70vh;   
         padding: 60px; 
         flex-wrap: wrap; 
         align-content: center; 
         column-gap: 1em;   }