
footer p{color: white;
        font-size: 13px;
        font-family: Work sans-serif;}

* {padding: 0;
   margin: 0.3rem;
   box-sizing: border-box;  }

html {font-family: Work sans-serif;
      font-size: 18px; }

#hero1 {width: 100%;
        height: 100vh;
        color: white;
        align-items: center; }

.container {width:90%;
            height: 100%; 
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center; 
            text-align: center;    }

.container h1 { font-size: 3rem;
                margin-bottom: 1rem; }

.comtainer h2 { font-size: 1.5rem;
                margin-bottom: 2rem; }

.container p { font-size: 1.2rem; 
                max-width: 70%;
                margin: 0 auto; }

.container a { text-decoration: none; 
                font-family: Work sans-serif;
                display: inline-block;
                background-color: #ba9af8;
                border-radius: 4px; 
                font-size: 15px;
                padding: 0.5em 2em;
                margin-top: 2rem;
                margin-bottom: 2rem; 
                color: black;
                box-shadow: 0 20px 50px rgba(0,0,0,.5);}

/* Media query for tablets */
@media (max-width: 768px) {article, aside {flex: 1 1 100%; /*Stack vertically*/}}
/*Media query for very small deices */
@media (max-width: 480px) {header, footer {font-size: 0.9rem; padding: 0.5rem;}}

#about { width: 95%;
        height: 100vh;
        color: white;
        align-items: center;  }

.resume a {text-decoration: none; 
         font-family: Work sans-serif;
         color: black;
         background-color: #ba9af8;
         border-radius: 4px; 
         border-width: 0.5em;
         font-size: 15px;
         padding: 0.5em 2em;
         margin-top: 2rem;
         margin-bottom: 2rem; 
         box-shadow: 0 20px 50px rgba(0,0,0,.5);
         align-items: center; }

#photo{ width: 140px; 
        height: 160px; 
        border: 1px solid black;
        border-radius: 6px;  }

.container2 {padding: 0 15px; 
            display: flex;
            flex-wrap: wrap; 
            align-items: center; 
            justify-content: space-around;
            gap: 1rem;  }

.profile { padding: 30px; 
           margin: 0.3rem;
           box-shadow: 0 20px 50px rgba(0,0,0,0.1);
           background-color: #023f6b; 
           color: white; }

.aboutinfo {flex: 1;  }

img.responsive {max-width: 100%; /* Prevents image from verflowing container */
                        height: auto; /* Maintains aspect ratio */
                        display: block; /* Removes extra space below image */}

#video { /*override other styles to make responsive */ 
        width: 100% !important; 
        height: 100% !important; 
        border-radius: 8px;
        color: white; 
        font-family: Work sans-serif;  }
