
footer p{color: white;
        font-size: 13px;
        font-family: Work sans-serif;}

* {padding: 0;
   margin: 0.3rem;
   box-sizing: border-box;  }

html {font-family: Work sans-serif;
      font-size: 18px; }

#hero1 {width: 100%;
        height: 100vh;
        color: white;
        align-items: center; }

.container {width:90%;
            height: 100%; 
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center; 
            text-align: center;    }

.container h1 { font-size: 3rem;
                margin-bottom: 1rem; }

.comtainer h2 { font-size: 1.5rem;
                margin-bottom: 2rem; }

.container p { font-size: 1.2rem; 
                max-width: 70%;
                margin: 0 auto; }

.container a { text-decoration: none; 
                font-family: Work sans-serif;
                display: inline-block;
                background-color: #ba9af8;
                border-radius: 4px; 
                font-size: 15px;
                padding: 0.5em 2em;
                margin-top: 2rem;
                margin-bottom: 2rem; 
                color: black;
                box-shadow: 0 20px 50px rgba(0,0,0,.5);}

#about { width: 95%;
        height: 100vh;
        color: white;
        align-items: center;  }

.resume a {text-decoration: none; 
         font-family: Work sans-serif;
         color: black;
         background-color: #ba9af8;
         border-radius: 4px; 
         border-width: 0.5em;
         font-size: 15px;
         padding: 0.5em 2em;
         margin-top: 2rem;
         margin-bottom: 2rem; 
         box-shadow: 0 20px 50px rgba(0,0,0,.5);
         align-items: center; }

#photo{ width: 140px; 
        height: 160px; 
        border: 1px solid black;
        border-radius: 6px;  }

.container2 {padding: 0 15px; 
            display: flex;
            flex-wrap: wrap; 
            align-items: center; 
            justify-content: space-around;
            gap: 1rem;  }

.profile { padding: 30px; 
           margin: 0.3rem;
           box-shadow: 0 20px 50px rgba(0,0,0,0.1);
           background-color: #023f6b; 
           color: white; }

.aboutinfo {flex: 1;  }

img.responsive {max-width: 100%; /* Prevents image from verflowing container */
                        height: auto; /* Maintains aspect ratio */
                        display: block; /* Removes extra space below image */}

#video { /*override other styles to make responsive */ 
        width: 100% !important; 
        height: 100% !important; 
        border-radius: 8px;
        color: white; 
        font-family: Work sans-serif;  }
        
@media print {
        @page {margin: 1in; /*1 inch on all sides*/}
        /* HIDE UNWANTED ELEMENTS */
        header {display: none !important;}
        .profile, .resume {display: none;} 
        /* GLOBAL TYPOGRAPHY RESET*/
        p {font-family:Georgia, 'Times New Roman', Times, serif; color: black !important; font-size: 18pt; line-height: 20pt; }
        /* SPECIFICS */
        h1 {color: black !important; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 23pt; line-height:20pt;} 
        footer {color: black; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 15pt; line-height:20pt;}}

.boxc {display: flex; 
       flex-direction: column;
       justify-content: space-around; 
       flex-wrap: wrap;
       box-sizing: content-box; 
       width: 1200px;
       padding-top: 4em; 
       padding-right: 6em; 
       padding-bottom: 4em; 
       padding-left: 6em;
       margin-left: 80px; 
       margin-right: 80px; 
       margin-top: 50px; 
       margin-bottom: 50px; 
       border-style: solid; 
       border-width: 1px; 
       border-color: black; 
       background-color: #023f6b;
       flex-wrap: wrap; 
       align-content: center; 
       column-gap: 1em;
       text-align: center;}

form { display: flex; 
       flex-direction: column;
       justify-content: space-around; 
       flex-wrap: wrap;
       box-sizing: content-box; 
       width: 1000px;
       padding-top: 4em; 
       padding-right: 6em; 
       padding-bottom: 4em; 
       padding-left: 6em;
       margin-left: 80px; 
       margin-right: 80px; 
       margin-top: 50px; 
       margin-bottom: 50px; 
       border-style: solid; 
       border-width: 1px; 
       border-color: black; 
       background-color: #023f6b;
       flex-wrap: wrap; 
       align-content: center; 
       column-gap: 1em;
       text-align: center;
       color: white; 
       align-items: center; }

/* Input fields */ 
#name {background-color: white;
        width: 160px; 
        padding: 6px;
        color: black; 
        font-size: 13px; 
        font-family: Work sans-serif;}

#title {background-color: white;
        width: 100px; 
        padding: 6px;
        color: black; 
        font-size: 13px; 
        font-family: Work sans-serif;}

#email {background-color: white;
        width: 180px; 
        padding: 6px;
        color: black; 
        font-size: 13px; 
        font-family: Work sans-serif;}

#message {background-color: white;
        width: 200px; 
        height: 100px; 
        padding: 6px;
        color: black; 
        font-size: 13px; 
        font-family: Work sans-serif;}

label {color: white;
        font-family: Work sans-serif;
        font-size: 20px;  }

.radio {color: white;
        font-family: Work sans-serif;
        font-size: 20px;  }

#submit {text-decoration: none; 
         font-family: Work sans-serif;
         font-size: 23px; 
         color: black;
         background-color: #ba9af8;
         border-radius: 4px; 
         border-width: 0.1em;
         font-size: 15px;
         padding: 0.5em 2em;
         margin-top: 1rem;
         margin-bottom: 1rem; 
         margin-left: 1em; 
         margin-right: 1em;
         box-shadow: 0 20px 50px rgba(0,0,0,.5);
         align-items: center; }

